
<div class="sonata-ba-form-actions well well-small form-actions">
    {% if action == 'new' %}
        <button class="btn btn-success" type="submit" name="btn_create"><i class="fa fa-save"></i> Create</button>
        <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>
        <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>
    {% elseif action == 'edit' %}
        <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save"></i> Update</button>
        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and close</button>
        or
        <a class="btn btn-danger" href="{{ path(route_prefix ~ '_delete', {'id': entity.id}) }}"><i class="fa fa-minus-circle"></i> Delete</a>
    {% elseif action == 'delete' %}
        <button type="submit" class="btn btn-danger" name="btn_delete"><i class="glyphicon glyphicon-trash"></i> Yes, delete</button>
        or
        <a class="btn btn-success" href="{{ path(route_prefix ~ '_edit', {'id': entity.id}) }}"><i class="glyphicon glyphicon-edit"></i>Edit</a>
    {% endif %}
</div>