

<!-- Footer -->
<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
    <div class="pull-right">
        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="#" target="_blank">onetechteam</a>
    </div>
    <div class="pull-left">
        <a class="font-w600" href="#" target="_blank">{{ admin_app_name }} {{ admin_app_version }}</a> &copy; <span class="js-year-copy"></span>
    </div>
</footer>
<!-- END Footer -->